body {
    background-color: #0D1117;
    font-family: "Alliance No 1", sans-serif;
    color: white;
    margin: 32px;
}

h1 {
    font-size: 72px;
}

h3 {
    font-size: 32px;
}

span {
    background: linear-gradient(92.7deg, #56d364 -1.37%, #79c0ff 78.71%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 10s infinite linear;
}

@keyframes hue {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}

a {
    color: #388bfd;
    font-weight: 600;
}

p {
    color: #8b949e;
}

.card {
    background-color: #21262D;
    padding: 24px;
}

.projects {
    display: flex;
    flex-flow: row wrap;
}

.projects .item {
    margin-right: 32px;
    max-width: 300px;
}

.projects img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.courses img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.courses .item {
    display: flex;
}

.container {
    display: flex;
    justify-content: space-between;
}

img {
    width: 300px;
    height: 300px;
}

.twitter-timeline {
    width: 500px;
}

/* social icons */
.icon {
    color: white;
    text-decoration: none;
    margin-right: 24px;
}

svg {
    width: 50px;
    height: 50px;
}

@media (max-width: 767px) {
    h1 {
        font-size: 40px;
    }

    h3 {
        font-size: 24px;
    }
}