body {
    background-color: #0D1117;
    font-family: "Alliance No 1", sans-serif;
    color: white;
    margin: 32px;
}

h1 {
    font-size: 72px;
}

h3 {
    font-size: 32px;
}

span {
    background: linear-gradient(92.7deg, #56d364 -1.37%, #79c0ff 78.71%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 10s infinite linear;
}

@keyframes hue {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}

a {
    color: #388bfd;
    font-weight: 600;
}

p,
li {
    color: #8b949e;
}

.card {
    background-color: #21262D;
    padding: 24px;
}

/* PROJECTS */
.projects {
    display: flex;
    flex-flow: row wrap;
}

.projects a {
    text-decoration: none;
    color: white;
}

.project {
    margin: 0 32px 32px 0;
    max-width: 300px;
    background-color: #21262D;
}

.project img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.project .text {
    margin: 24px;
}

.project:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.course img {
    width: 80px;
    height: 80px;
    padding: 24px;
    object-fit: contain;
}

.course {
    display: flex;
}

.container {
    display: flex;
    justify-content: space-between;
}

img {
    width: 300px;
    height: 300px;
}

/* social icons */
.icon {
    color: white;
    text-decoration: none;
    margin-right: 24px;
}

svg {
    width: 50px;
    height: 50px;
}

.twitter-timeline {
    margin: auto;
}

@media (max-width: 767px) {
    h1 {
        font-size: 40px;
    }

    h3 {
        font-size: 24px;
    }
}